name: Delivery Engine CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  quality-and-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest httpx

      - name: Run Tests
        run: |
          # Używamy python -m pytest, aby uniknąć błędów z importem 'src'
          python -m pytest tests/

  build-docker:
    needs: quality-and-tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build API Image
        run: docker build -t delivery-api:latest .

      - name: Build Dashboard Image
        run: docker build -f Dockerfile.dashboard -t delivery-dashboard:latest .
        